h2{
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: black 2px solid;
    border-radius: 10px;
    padding: 10px;
}
#test1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    border: blue 2px solid;
    border-radius: 10px;
    padding: 10px;

}
.test2{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    border: purple 2px solid;
    border-radius: 10px;
    padding: 10px;   
}
/* lfveevheehvwoeuhthis is how comments are written in css */